@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 1170px;
  margin: 0 auto;
}

* {
  font-family: 'Nunito', sans-serif;
}

.home-background {
  background-image: url('/bg-main.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 100%;
  max-height: 650px;
  width: 100%;

  &::before {
    content: '';
    display: block;
    -webkit-filter: blur(1px) brightness(0.5);
    -moz-filter: blur(1px) brightness(0.5);
    -ms-filter: blur(1px) brightness(0.5);
    -o-filter: blur(1px) brightness(0.5);
    filter: blur(1px) brightness(0.5);
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background: inherit;
    z-index: 0;
  }
}

.loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 8px solid;
  border-color: #e4e4ed;
  border-right-color: #766df4;
  animation: s2 1s infinite linear;
}
@keyframes s2 {
  to {
    transform: rotate(1turn);
  }
}
